

body{
  margin: 0;
}

#UpperDiv{
  width: 100%;
  height: 254px;
  background-image: url("/image/19-39-46-back.png");
  background-size: cover;
}
#MiddleDiv{
  width: 100%;
  height: 50px;
  float: left;
  background-color: rgb(240, 240, 240);
}
#BottomDiv{
  margin: auto;
  width: 80%;
  height: 400px; 
 }

#bottomleft{
  width: 32%;
  height: 400px;
  margin-left: 18%;
  margin-top: 10%;
}
#bottomright{
  width: 32%;
  height: 352px;
  float: right;
  margin-right: 16%;
  position: relative;
  bottom: 100%;
}

#middlediv2{
  width: 45%;
  height: 50px;
  margin: auto;
}
#ShowMonthAndYaer{
  width: 30%;
  height: 50px;
  margin: auto;
  font-size: 113%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 31%;
  padding-top: 1%;
}

.menu{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 200%;
  position: relative;
  bottom: 145px;
  left: 27px;
}

h1{
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
      margin: auto;
      padding-top: 5%;
      font-size: 200%;
  }

  .color_for_income{
    color: rgb(51, 169, 164);
  }
  .color_for_outcome{
    color:rgb(249, 53, 58);
  }

i{color: white;}