
body{
  margin: 0;
}
#UpperDiv{
  width: 100%;
  height: 254px;
  background-image: url("/image/19-39-46-back.png");
  background-size: cover;
}
#MiddleDiv{
  width: 100%;
  height: 50px;
  float: left;
  background-color: rgb(240, 240, 240);
}
#BottomDiv{
  width: 100%;
  height: 400px; 
}
#bottomleft{
  width: 32%;
  height: 400px;
  margin-left: 18%;
  margin-top: 10%;
  /* background-color: blueviolet; */
}
#bottomright{
  width: 32%;
  height: 352px;
  float: right;
  margin-right: 16%;
  position: relative;
  bottom: 100%;
  /* background-color: aqua; */
}

#middlediv2{
  width: 45%;
  height: 50px;
  margin: auto;
}

#ShowMonthAndYaer{
  width: 30%;
  height: 50px;
  margin: auto;
  font-size: 113%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 31%;
  padding-top: 1%;

}
#Showbalance{
  width: 30%;
  height: 50px;
  margin: auto;
  font-size: 271%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 25%;
  margin-top: -1%;
}
#checIcon{
 font-size: 150%;
 color:rgb(51, 169, 164) ;
 position: relative;
 left: 2%;
 top: 5%;

}
#ShowIncome{
  width: 26%;
  height: 40px;
  margin: auto;
  font-size: 200%;
  background-color:  rgb(51, 169, 164);
  margin-top: 1%;
}
#ShowExpenses{
  width: 26%;
  height: 40px;
  margin: auto;
  font-size: 200%;
  background-color:rgb(249, 53, 58); 
  margin-top: 1%;
}

#inputDescription{
  width: 70%;
  padding: 10px 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
#inputSumOfMoney{
  width: 15%;
  height: 37px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}
#select{
  width: 8%;
  height: 37px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  outline: none;
}
#spanShowINCOME{
  position: relative;
  left: 40%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
#spanShowExpenses{
  position: relative;
  left: 36%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  
}

.incomeAndexpenses{
    color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 10px;
}

#showPrecent1{
  width: 13%;
  height: 23px;
  float: right;
  position: relative;
  right: 2%; 
  top: 26%;
  font-size: 43%;
  color: white;
  font-size: 40%;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  border-radius: 5px;
}

div #showPrecent1 div{
    color: black;
    font-size: 120%;
    position: relative;
    left: 12%;
    font-weight: bold;

}
#span{
  position: relative;
  right: 104%;
  top: 16px;
}

.percent_list{
  color:rgb(249, 53, 58);
  background-color: #d19898be;
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 100px;
}

#income{
  color: rgb(51, 169, 164);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 9%;
}
#outcome{
  color:rgb(249, 53, 58);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 9%;
}

.spanDescription{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 38px;
  margin-right: 192px;
}
.spanAmount{
  margin-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.fa-times-circle{
  opacity: 0;
  transition: all 0.8s;
}

p:hover .fa-times-circle{
  opacity: 1; 
  position: relative;
  right: 10px;
}

/* p:hover .spanDescription{
  position: relative; 
  right: 5%;
}  */

p:hover .spanAmount{
  position: relative; 
  right: 5%;
} 
p:hover .showPrec{
  position: relative; 
  right: 5%;
}

.showPrec{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  margin-right: 6%;
  color:rgb(249, 53, 58);
  background-color: #d19898be;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

p{
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid rgb(202, 192, 192);
  width: 400px;
  height: 25px;
  transition: all 0.5s;
  padding-top: 10px;
}
#more{

  position: relative;
  bottom: 18%;
  left: 2%;

}
.menu{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 200%;
}




